# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
GitlabLint.xml
php.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
