on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Check Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'

      - name: Verify dependencies
        run: go mod verify

      - name: Build
        run: go build -v ./...
